# Instagram Graph API Setup Guide
# 1. Go to https://developers.facebook.com/
# 2. Create an App -> Set up "Instagram Basic Display"
# 3. Add an Instagram Test User (your own account)
# 4. Generate a "Long-Lived Access Token"
# 5. Paste it below

VITE_INSTAGRAM_ACCESS_TOKEN=your_token_here
VITE_INSTAGRAM_USER_ID=your_id_here
